{# Render a score with a delete button for a given team and round. Will show 'Add' link if score doesn't exist #}
{% macro render_score(team, round_number) %}
    {% set score = team.get_score_for_round(round_number) %}
    {% if score != None %}
        <a href="{{ url_for('.edit', score_id=score.id) }}">{{ score.total }} </a>
    {% else %}
        <a href="{{ url_for('.add', team_id=team.id, round=round_number) }}"><i>add</i></a>
    {% endif %}
{%- endmacro %}

{# Render a table containing teams and scores for a given playoff round #}
{% macro render_playoff_round(round_name, round_number, teams) %}
    <div class="col-md-4">
        <h2 style="text-align: center;">{{ round_name }}</h2>
        <p style="text-align: center;">
            {% if teams.count() == 0 %}
                <a href="{{ url_for('.populate', selected_round=round_number) }}">Populate</a>
            {% else %}
                <a href="{{ url_for('.clear_round', selected_round=round_number) }}">Clear</a>
            {% endif %}
        </p>
        <table class="table table-hover display" width="100%">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {% for team in teams %}
                    <tr>
                        <td>{{ team.number }}</td>
                        <td>{{ team.name }}</td>
                        <td>{{ render_score(team, round_number) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{%- endmacro %}