{% extends "layout.html" %}
{% import "scoring/_scoring_helpers.html" as macros %}
{% block title %}FLL Playoffs{% endblock %}
{% block pageContent %}
    <h1>Playoffs</h1>
    <div class="col-md-4">
        <h2 style="text-align: center;">Quarterfinals</h2>
        <p style="text-align: center;">
            {% if quarterfinal_teams.count() == 0 %}
                <a href="{{ url_for('.populate', selected_round=4) }}">Populate</a>
            {% else %}
                <a href="{{ url_for('.clear_round', selected_round=4) }}">Clear</a>
            {% endif %}
        </p>
        <table class="table table-hover display" width="100%">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <!-- TODO could this be made into a template helper? -->
                {% for team in quarterfinal_teams %}
                    <tr>
                        <td>{{ team.number }}</td>
                        <td>{{ team.name }}</td>
                        <td>{{ macros.render_score(team.quarterfinal, team, 4) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h2 style="text-align: center;">Semifinals</h2>
        <p style="text-align: center;">
            {% if semifinal_teams.count() == 0 %}
                <a href="{{ url_for('.populate', selected_round=5) }}">Populate</a>
            {% else %}
                <a href="{{ url_for('.clear_round', selected_round=5) }}">Clear</a>
            {% endif %}
        </p>
        <table class="table table-hover display" width="100%">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <!-- TODO could this be made into a template helper? -->
                {% for team in semifinal_teams %}
                    <tr>
                        <td>{{ team.number }}</td>
                        <td>{{ team.name }}</td>
                        <td>{{ macros.render_score(team.semifinal, team, 5) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h2 style="text-align: center;">Finals</h2>
        <p style="text-align: center;">
            {% if final_teams.count() == 0 %}
                <a href="{{ url_for('.populate', selected_round=6) }}">Populate</a>
            {% else %}
                <a href="{{ url_for('.clear_round', selected_round=6) }}">Clear</a>
            {% endif %}
        </p>
        <table class="table table-hover display" width="100%">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <!-- TODO could this be made into a template helper? -->
                {% for team in final_teams %}
                    <tr>
                        <td>{{ team.number }}</td>
                        <td>{{ team.name }}</td>
                        <td>{{ macros.render_score(team.final, team, 6) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
