{% extends "layout.html" %}
{% block title %}FLL Playoffs{% endblock %}
{% block pageContent %}
    <h1>Playoffs</h1>
    <div class="col-md-4">
        <h2 style="text-align: center;">Quarterfinals</h2>
        <table class="table table-hover display" width="100%">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {% for team in quarterfinal_teams %}
                    <tr>
                        <td>{{ team.number }}</td>
                        <td>{{ team.name }}</td>
                        <!-- TODO could this be made into a template helper? -->
                        <td>
                            {% if team.quarterfinal != None %}
                                <!-- TODO add delete button -->
                                <a href="{{ url_for('.edit', score_id=team.quarterfinal.id) }}">{{ team.quarterfinal.total }}</a>
                                <a href="{{ url_for('.delete', score_id=team.quarterfinal.id) }}" class="btn btn-xs btn-danger fa fa-trash-o"></a>
                            {% else %}
                                <a href="{{ url_for('.add', team_id=team.id, round=4) }}">Add</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h2 style="text-align: center;">Semifinals</h2>
        <table class="table table-hover display" width="100%">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Team 1</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Team 2</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Team 3</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Team 4</td>
                    <td>40</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h2 style="text-align: center;">Finals</h2>
        <table class="table table-hover display" width="100%">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Team 1</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Team 2</td>
                    <td>20</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
