{% extends "form_layout.html" %}
{% import "_helpers.html" as macros %}
{% block title %}FLL Score Form{% endblock %}
{% block pageContent %}
    <script type="text/javascript">
        $( document ).ready(function() {
            updateTotal();
            $("#scrollingForm").css('height', $(window).height()-220);
        });

        // TODO move this to score-specific JS file
        $(function() {
            $('.scoreForm').change(function() {
                console.log("form changed");
                updateTotal();
            });
        });

        function updateTotal() {
            $.getJSON('/scores/_add_numbers', {
                //$("#cargo_plane_location").val()
                bars_in_west_transfer : $("#bars_in_west_transfer").val(),
                bars_never_in_west_transfer : $("#bars_never_in_west_transfer").val(),
                black_bars_in_original_position : $("#black_bars_in_original_position").val(),
                black_bars_in_green_or_landfill : $("#black_bars_in_green_or_landfill").val(),
                black_bars_elsewhere : $("#black_bars_elsewhere").val(),

                methane_in_truck_or_factory : $("#methane_in_truck_or_factory").val(),

                truck_supports_yellow_bin : $("#truck_supports_yellow_bin").val(),
                yellow_bin_east_of_guide : $("#yellow_bin_east_of_guide").val(),

                anyone_in_sorter_area : $("#anyone_in_sorter_area").val(),

                engine_installed : $("#engine_installed").val(),
                car_folded_in_east_transfer : $("#car_folded_in_east_transfer").val(),
                car_never_in_safety : $("#car_never_in_safety").val(),

                compost_ejected_not_in_safety : $("#compost_ejected_not_in_safety").val(),
                compost_ejected_in_safety : $("#compost_ejected_in_safety").val(),

                plastic_bags_in_safety : $("#plastic_bags_in_safety").val(),
                animals_in_circles_without_bags : $("#animals_in_circles_without_bags").val(),
                chicken_in_small_landfill_circle : $("#chicken_in_small_landfill_circle").val(),

                all_beams_not_in_setup_position : $("#all_beams_not_in_setup_position").val(),

                green_bins_in_opp_safety : $("#green_bins_in_opp_safety").val(),
                opp_green_bins_in_safety : $("#opp_green_bins_in_safety").val(),

                valuables_in_safety : $("#valuables_in_safety").val(),

                planes_in_safety : $("#planes_in_safety").val(),

                compost_in_toy_package : $("#compost_in_toy_package").val(),
                package_in_original_condition : $("#package_in_original_condition").val()
            }, function(data) {
                $("#result").text(data.result);
            });
            return false;
        }
    </script>
    {% call macros.render_form(form, class_="scoreForm", include_submit=false) %}
        <div class="row">
            <div class="col-sm-4">
                {% if team_id and round_number %}
                    <div class="form-group">
                        <label class="col-sm-8 control-label">Team</label>
                        <div class="col-sm-4">
                            <p class="form-control-static">{{ team_id }}</p>
                        </div>
                    </div>
                {% else %}
                    {{ macros.render_selector(form.team_id) }}
                {% endif %}
            </div>
            <div class="col-sm-4">
                {% if team_id and round_number %}
                    <div class="form-group">
                        <label class="col-sm-8 control-label">Round</label>
                        <div class="col-sm-4">
                            <p class="form-control-static">{{ round_number }}</p>
                        </div>
                    </div>
                {% else %}
                    {{ macros.render_selector(form.round_number) }}
                {% endif %}
            </div>
            <div class="col-sm-4">
                <h4 align="center">Total: <span id="result">0</span></h4>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
              <div class="col-md-12">
                  {{ macros.render_fields("M04: Sorting (Yellow/ Blue bars in matching Green Bins)",
                                      form.bars_in_west_transfer,
                                      form.bars_never_in_west_transfer) }}

                  {{ macros.render_fields("M04: Sorting (Black Bars in matching Green Bin)",
                                          form.black_bars_in_original_position,
                                          form.black_bars_in_green_or_landfill,
                                          form.black_bars_elsewhere) }}

                  {{ macros.render_fields("M02: Methane", form.methane_in_truck_or_factory) }}

                  {{ macros.render_fields("M03: Transport",
                                          form.truck_supports_yellow_bin,
                                          form.yellow_bin_east_of_guide) }}

                  {{ macros.render_fields("M05: Careers", form.anyone_in_sorter_area) }}
                  {{ macros.render_fields("M06: Scrap Cars",
                                          form.engine_installed,
                                          form.car_folded_in_east_transfer,
                                          form.car_never_in_safety) }}
              </div>
          </div>
          <div class="col-sm-6">
              <div class="col-md-12">
                  {{ macros.render_fields("M08: Composting",
                                      form.compost_ejected_not_in_safety,
                                      form.compost_ejected_in_safety) }}

                  {{ macros.render_fields("M07: Cleanup",
                                          form.plastic_bags_in_safety,
                                          form.animals_in_circles_without_bags,
                                          form.chicken_in_small_landfill_circle) }}

                  {{ macros.render_fields("M10: Demolition", form.all_beams_not_in_setup_position) }}

                  {{ macros.render_fields("M01: Using Recycled Material",
                                          form.green_bins_in_opp_safety,
                                          form.opp_green_bins_in_safety) }}

                  {{ macros.render_fields("M09: Salvage", form.valuables_in_safety) }}

                  {{ macros.render_fields("M11: Purchasing Decisions", form.planes_in_safety) }}

                  {{ macros.render_fields("M12: Repurposing",
                                          form.compost_in_toy_package,
                                          form.package_in_original_condition) }}
              </div>
          </div>
        </div>
        {% if id!=None %}
            {{ macros.render_submit(style_='padding-left: 23px', cancel_link=url_for('.index'), delete_link=url_for('.delete', score_id=id)) }}
        {% else %}
            {{ macros.render_submit(style_='padding-left: 23px', cancel_link=url_for('.index')) }}
        {% endif %}
    {% endcall %}
{% endblock %}
