{% extends "form_layout.html" %}
{% import "_helpers.html" as macros %}
{% block title %}Award Winner Form{% endblock %}
{% block pageContent %}
    <div class="row">
        <h1>FLL Award Assignment</h1>
    </div>
    {% call macros.render_form(form, action_url=action, class_="awardWinnerForm") %}
        <label class="col-sm-3 control-label">Award</label>
        <div class="col-sm-9">
            <p class="form-control-static">{{ award }}</p>
        </div>
        {{ macros.render_field(form.team_id) }}
    {% endcall %}
{% endblock %}
