{% extends "report_base.html" %}
{% block reportContent %}
    <table repeat="1">
        <thead>
            <tr>
                <th>Category</th>
                <th>Place</th>
                <th>Team Number</th>
                <th>Team Name</th>
            </tr>
        </thead>
        <tbody>
            {% for winner in award_winners %}
                <tr>
                    <td>{{ winner.category_name }}</td>
                    <td>
                        {% if winner.place==0 %}
                            1st
                        {% elif winner.place==1 %}
                            2nd
                        {% else %}
                            3rd
                        {% endif %}
                    </td>
                    <td>{{ winner.team.number }}</td>
                    <td>{{ winner.team.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

