{% extends "form_layout.html" %}
{% import "_helpers.html" as macros %}
{% block title %}FLL Core Values Form{% endblock %}
{% block pageContent %}
    <h1>Core Values Entry</h1>
    {% call macros.render_form(form, class_="teamworkForm", include_submit=false) %}
        <div class="row">
            <div class="col-sm-8 col-sm-offset-1">
                {% if team_id %}
                <div class="form-group">
                    <label class="col-sm-6 control-label">Team</label>
                    <div class="col-sm-6">
                        <p class="form-control-static">{{ team_id }}</p>
                    </div>
                </div>
            {% else %}
                {{ macros.render_selector(form.team_id) }}
            {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-1">
                {{ macros.render_fields("Inspiration",
                                    form.discovery,
                                    form.team_spirit,
                                    form.integration) }}
                {{ macros.render_fields("Teamwork",
                                        form.effectiveness,
                                        form.efficiency,
                                        form.kids_do_the_work) }}
                {{ macros.render_fields("Gracious Professionalism",
                                        form.inclusion,
                                        form.respect,
                                        form.coopertition) }}
            </div>
        </div>
        {% if id!=None %}
            {{ macros.render_submit(style_='padding-left: 23px', cancel_link=url_for('review'), delete_link=url_for('.delete_core_values', core_values_id=id)) }}
        {% elif repeat == true %}
            {{ macros.render_submit(style_='padding-left: 23px', include_reset=true) }}
        {% else %}
            {{ macros.render_submit(style_='padding-left: 23px', cancel_link=url_for('review')) }}
        {% endif %}
    {% endcall %}
{% endblock %}
