{% extends "form_layout.html" %}
{% import "_helpers.html" as macros %}
{% block title %}FLL Project Form{% endblock %}
{% block pageContent %}
    <div class="row">
        <h1>Project Entry</h1>
    </div>
    {% call macros.render_form(form, class_="presentationForm", include_submit=false) %}
        <div class="row">
            <div class="col-sm-8 col-sm-offset-1">
                {% if team_id %}
                <div class="form-group">
                    <label class="col-sm-6 control-label">Team</label>
                    <div class="col-sm-6">
                        <p class="form-control-static">{{ team_id }}</p>
                    </div>
                </div>
            {% else %}
                {{ macros.render_selector(form.team_id) }}
            {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-1">
                {{ macros.render_fields("Research",
                                        form.problem_identification,
                                        form.sources_of_information,
                                        form.problem_analysis,
                                        form.existing_solutions) }}

                {{ macros.render_fields("Innovative Solution",
                                        form.team_solution,
                                        form.innovation,
                                        form.implementation) }}

                {{ macros.render_fields("Presentation",
                                        form.sharing,
                                        form.creativity,
                                        form.effectiveness) }}
            </div>
        </div>
        {% if id!=None %}
            {{ macros.render_submit(style_='padding-left: 23px', cancel_link=url_for('review'), delete_link=url_for('.delete_presentation', presentation_id=id)) }}
        {% elif repeat == true %}
            {{ macros.render_submit(style_='padding-left: 23px', include_reset=true) }}
        {% else %}
            {{ macros.render_submit(style_='padding-left: 23px', cancel_link=url_for('review')) }}
        {% endif %}
    {% endcall %}
{% endblock %}
