{% extends "form_layout.html" %}
{% import "_helpers.html" as macros %}
{% block title %}FLL Project Form{% endblock %}
{% block pageContent %}
    <div class="row">
        <h1>Project Entry</h1>
    </div>
    {% call macros.render_form(form, class_="presentationForm", include_submit=false) %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">General Information</h3>
            </div>
            <div class="panel-body">
                {% if team_id %}
                <div class="form-group">
                    <label class="col-sm-3 control-label">Team</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">{{ team_id }}</p>
                    </div>
                </div>
                {% else %}
                    {{ macros.render_field(form.team_id) }}
                {% endif %}
            </div>
        </div>
        {{ macros.render_fields("Research",
                                form.problem_identification,
                                form.sources_of_information,
                                form.problem_analysis,
                                form.existing_solutions) }}

        {{ macros.render_fields("Innovative Solution",
                                form.team_solution,
                                form.innovation,
                                form.implementation) }}

        {{ macros.render_fields("Presentation",
                                form.sharing,
                                form.creativity,
                                form.effectiveness) }}
        {{ macros.render_submit(style_='padding-left: 23px') }}
    {% endcall %}
{% endblock %}
