{% extends "form_layout.html" %}
{% import "_helpers.html" as macros %}
{% block title %}FLL Robot Design Form{% endblock %}
{% block pageContent %}
    <div class="row">
        <h1>Robot Design Entry</h1>
    </div>
    {% call macros.render_form(form, class_="technicalForm", include_submit=false) %}
        <div class="row">
            <div class="col-sm-6 col-sm-offset-1">
                {% if team_id %}
                <div class="form-group">
                    <label class="col-sm-8 control-label">Team</label>
                    <div class="col-sm-4">
                        <p class="form-control-static">{{ team_id }}</p>
                    </div>
                </div>
            {% else %}
                {{ macros.render_selector(form.team_id) }}
            {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-1">
                {{ macros.render_fields("Mechanical Design",
                                        form.mechanical_durability,
                                        form.mechanical_efficiency,
                                        form.mechanization) }}

                {{ macros.render_fields("Programming",
                                        form.programming_quality,
                                        form.programming_efficiency,
                                        form.autonomous_navigation) }}

                {{ macros.render_fields("Strategy and Innovation",
                                        form.design_process,
                                        form.mission_strategy,
                                        form.innovation) }}
            </div>
        </div>

        {% if id!=None %}
            {{ macros.render_submit(style_='padding-left: 23px', cancel_link=url_for('.index'), delete_link=url_for('.delete_technical', technical_id=id)) }}
        {% else %}
            {{ macros.render_submit(style_='padding-left: 23px', cancel_link=url_for('.index')) }}
        {% endif %}
    {% endcall %}
{% endblock %}
