.btn-selector:hover,
.btn-selector:active:hover,
.btn-selector.active {
  background-color: #5cb85c !important;
}

#pitDisplay .align_center {
  text-align: center;
}

#pitDisplay img {
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

#pitDisplay #title {
  text-align: center;
  margin-top: 15px;
}

#pitDisplay #subtitle {
  text-align: center;
}

#pitDisplay .roundHeader {
  text-align: center;
}

label {
  font-weight: normal;
}

.form-section-header {
  font-weight: bold;
}

.form-group {
    margin-top: 0px;
    margin-bottom: 5px;
}