.btn-selector:hover,
.btn-selector:active:hover,
.btn-selector.active {
  background-color: #5cb85c !important;
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}