{% import "bootstrap/wtf.html" as wtf %}
{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block title %}FLL Score Form{% endblock %}
{% block pageContent %}
  <h1>FLL Score Entry</h1>
  <script>window.jQuery || document.write('<script src="{{url_for('static', filename='js/libs/jquery-1.11.3.min.js') }}">\x3C/script>')</script>
  <script type="text/javascript">
    // TODO move this to score-specific JS file
    $( document ).ready(function() {
      updateTotal();
    });

    $(function() {
      $('#scoreForm').change(function() {
        updateTotal();
      });
    });

    function updateTotal() {
      $.getJSON('/_add_numbers', {
        tree_branch_is_closer: $("#tree_branch_is_closer").is(':checked'),
        tree_branch_is_intact: $("#tree_branch_is_intact").is(':checked'),
        cargo_plane_location: $("#cargo_plane_location").val()
      }, function(data) {
        $("#result").text(data.result);
      });
      return false;
    }
  </script>
  <h4>Total: <span id="result">0</span></h4>
  {{ wtf.quick_form(form, action="", method="post", form_type="horizontal", horizontal_columns=('lg', 2, 10), button_map={'submit_button': 'primary'}, id="scoreForm") }}
{% endblock %}
