{% extends "layout.html" %}
{% block title %}Team Form{% endblock %}
{% block content %}
  <script type=text/javascript>
    function goBack() {
      window.history.back();
    }
  </script>
  <h1>Team Form</h1>
  <form action="" method="post" name="team_form" id="formid">
    {{ form.hidden_tag() }}
    <p>Number: {{ form.number }}</p>
    <p>Name: {{ form.name }}</p>
    <p>Affiliation: {{ form.affiliation }}</p>
    <p>City: {{ form.city }}</p>
    <p>State: {{ form.state }}</p>
    <p><input type="submit" value="Submit"> <button onclick="goBack()">Cancel</button></p>
  </form>
{% endblock %}
