{% extends "layout.html" %}
{% block title %}Teams{% endblock %}
{% block content %}
  <h1>Teams</h1>
  <a href="/new_team">Add a new team</a>
  <!-- TODO add CSV import option -->
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Number</th>
          <th>Name</th>
          <th>Affiliation</th>
          <th>City</th>
          <th>State</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for team in teams %}
          <tr>
            <td>{{ team.number }}</td>
            <td>{{ team.name }}</td>
            <td>{{ team.affiliation }}</td>
            <td>{{ team.city }}</td>
            <td>{{ team.state }}</td>
            <!-- TODO use button instead of text here -->
            <td><a href="{{ url_for('edit_team', team_id=team.id) }}">edit</a></td>
            <!-- TODO add delete button -->
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
