<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/libs/jquery-1.11.3.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/libs/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/libs/moment.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/libs/dataTables.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/pit_display.js') }}"></script>
    </head>
    <body>
        <div id="pitDisplay">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{ url_for('static', filename = 'images/FIRSTLego_iconVert_RGB.jpg') }}" align="left">
                    </div>
                    <div class="col-md-4">
                        <h2 id='title'>{{title}}</h2>
                        <h3 id='subtitle'>{{subtitle}}</h3>
                    </div>
                    <div class="col-md-4">
                        <img src="{{ url_for('static', filename = 'images/maine_robotics.jpg') }}" align="right">
                    </div>
                </div>
          </div>
          <div class="container-fluid">
              <div class="row">
                  <table class="table table-striped" id="teamsTable">
                      <thead>
                          <th>Rank</th>
                          <th>ID#</th>
                          <th>Name</th>
                          <th>Affiliation</th>
                          <th>Round 1</th>
                          <th>Round 2</th>
                          <th>Round 3</th>
                          <th>Best</th>
                      </thead>
                  </table>
              </div>
          </div>
        </div>

    </body>
</html>
