<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.css') }}">
        <script src="{{ url_for('static', filename='js/libs/jquery-1.11.3.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/libs/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/libs/moment.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/libs/jquery.dataTables.js') }}"></script>
        <script src="{{ url_for('static', filename='js/libs/dataTables.bootstrap.js') }}"></script>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename = 'images/FLLicon_RGB.jpg') }}" align="left">
                </div>
                <div class="col-md-4">
                    <h2 id='title'>{{title}}</h2>
                    <h3 id='subtitle'>{{subtitle}}</h3>
                </div>
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename = 'images/maine_robotics.jpg') }}" align="right">
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                // Initialize the DataTable component
                var myTable = $('#teamsTable').DataTable({
                    "searching": false,
                    "ordering":  false,
                    "lengthChange": false,
                    "ajax": {
                        "url": "/scores/api",
                        "dataSrc": "ranks",
                        "error": function() {
                            alert("Unable to get data from server");
                        }
                    },
                    "columns": [
                        { "data": "rank", "class": "aligncenter" },
                        { "data": "number", "class": "aligncenter"},
                        { "data": "name", "class": "aligncenter" },
                        { "data": "affiliation", "class": "aligncenter" },
                        { "data": "round1", "class": "aligncenter" },
                        { "data": "round2", "class": "aligncenter" },
                        { "data": "round3", "class": "aligncenter" },
                        { "data": "bestScore", "class": "aligncenter" }
                    ],
                    "info": false
                });

                // Set up the page looping
                var page = 1;
                var pageCount = myTable.page.info().pages;

                // Auto-advance through the datatable pages
                var page_advance = setInterval(function() {

                    // If on the final page, reload the data then start again
                    if(page >= pageCount) {
                        console.log("reloading data");
                        myTable.ajax.reload();
                        myTable.page(0).draw(false);
                        pageCount = myTable.page.info().pages;
                        page = 0;
                    }

                    // Set the table page and redraw
                    myTable.page(page).draw(false);
                    page++;
                }, 10000);
            });
        </script>
      <style>
          /* Put your CSS here */
          .aligncenter {
              text-align: center;
          }

          img {
              height: 100px;
              margin-top: 10px;
              margin-bottom: 10px;
              margin-right: 10px;
              margin-left: 10px;
          }

          #title {
              text-align: center;
              margin-top: 15px;
          }

          #subtitle {
              text-align: center;
          }

          .roundHeader {
              text-align: center;
          }
      </style>
    </head>
    <body>
        <div class="container-fluid">
        <div class="row">
            <table class="table table-striped" id="teamsTable">
                <thead>
                    <th>Rank</th>
                    <th>ID#</th>
                    <th>Name</th>
                    <th>Affiliation</th>
                    <th>Round 1</th>
                    <th>Round 2</th>
                    <th>Round 3</th>
                    <th>Best</th>
                </thead>
            </table>
        </div>
    </div>
    </body>
</html>
